./scripts/latent_imagenet_diffusion.ipynb
./.git/objects/pack/tmp_pack_iKZvkV
./.git/objects/pack/tmp_pack_UQWbb6
./.git/objects/pack/pack-e0bdbbba21f4074ed8f429dc0e6dbffe2a603879.pack
./.git/objects/pack/tmp_pack_trtooQ
./.git/objects/pack/pack-20f441a49fbd4292bf5920264b82816ec273e169.pack
./.git/objects/72/45cd7bde6ae082ae1bee7c0033761ddc387e55
./.git/lfs/objects/98/36/98361eeaf942a80fad2c77102ee593b26b52bcf07a2d0c685c874c5e4d87f4ed
./data/imagenet_train_hr_indices.p
./assets/results.gif
./storyboard/video/82.mp4
./storyboard/video/57.mp4
./storyboard/video/2.mp4
./storyboard/video/79.mp4
./storyboard/video/20.mp4
./storyboard/video/19.mp4
./storyboard/video/116.mp4
./storyboard/video/16.mp4
./storyboard/video/115.mp4
./storyboard/video/10.mp4
./storyboard/video/113.mp4
./storyboard/video/12.mp4
./storyboard/video/13.mp4
./storyboard/video/112.mp4
./storyboard/video/74.mp4
./storyboard/video/72.mp4
./storyboard/video/9.mp4
./storyboard/video/59.mp4
./finalTEMP_MPY_wvf_snd.mp3
./scripts/latent_imagenet_diffusion.ipynb
./.git/objects/0c/d3cd199762fc07df4c7633fcf846824e0d41d5
./.git/objects/68/3d68b49becf766401542fa7be61f5c8ac1df26
./.git/objects/68/28de523c2785e5a192f5fd281fed0a71f96728
./.git/objects/57/4ad7f68087f6019e2854bdb10bb5f1ae67f872
./.git/objects/03/a1a3fff6c9639a72a6fe6f6fef3c3758c17d51
./.git/objects/9e/30f6479727e44844054238b43a9500399e0098
./.git/objects/9e/71703b7107da274ca85a669064e514ccbcf32b
./.git/objects/6a/1504432b5fa5073827bbc31f5b6c3cb68a259b
./.git/objects/35/5f90adacd387f6d262fb3d414fd2df8f4ef3eb
./.git/objects/3c/4d0eabd05f8d7e15e0f76a33dfa4f73f0c3520
./.git/objects/0e/10d399ea56f40425b4bee26ec97d5a43967de4
./.git/objects/34/6d90c9808995e472b93088d1e98c677c3f4c18
./.git/objects/9c/e7ba21f61e7570e023a1c494f0be39aac4de23
./.git/objects/a4/3b73aacd55e50bf9f15a169171a8e2e7676eab
./.git/objects/a3/f0aa311c05b3b0365472bde9b8cc4ddd283157
./.git/objects/d9/010c03864e50daccf9b8f2b6799cdf06386ace
./.git/objects/a5/5c7a32c279dd955a66fae29da6cf9e5a909f6f
./.git/objects/bd/7271b2c2e1e03f56006741912c22fccc05d1ce
./.git/objects/eb/147f6a03970058d20615b9a2c6c134ba00f244
./.git/objects/ee/1c13168b685f707b7b085293c034715b07aa24
./.git/objects/cf/97755a71a66688220c80741348ef011aa2f193
./.git/objects/c1/d1b5a689c17388632b092326c4f2d74cce05e1
./.git/objects/4b/cb463b6387479857ba88df81b8c2d0b3581adf
./.git/objects/pack/tmp_pack_iKZvkV
./.git/objects/pack/tmp_pack_UQWbb6
./.git/objects/pack/pack-e0bdbbba21f4074ed8f429dc0e6dbffe2a603879.pack
./.git/objects/pack/tmp_pack_trtooQ
./.git/objects/pack/pack-20f441a49fbd4292bf5920264b82816ec273e169.pack
./.git/objects/29/e187c4d156c0a78dbd9b3c2eef66e007865025
./.git/objects/29/085b8eddfd6bdbbe2c7802f7e51b560db18b41
./.git/objects/16/a5179cbdf71a3ba098131d123f4812edaf578d
./.git/objects/74/c490ed5128b982d2406bf76a058519e78789c3
./.git/objects/4d/1319f0532ca842df2653f86f3512a549ec059f
./.git/objects/72/45cd7bde6ae082ae1bee7c0033761ddc387e55
./.git/objects/44/dffbb7016fe763ea853180d064ae53cabb79bc
./.git/objects/43/51964a2b49513c1a84c5205dfed881fa925740
./.git/objects/43/891f83aed3d61b749cb8591e65e3c865961cd3
./.git/objects/9f/f7f56d6ce69f420a2abfa24d48466edc041f77
./.git/objects/00/ea4ea4f151181f24841359a1a55143e85efbab
./.git/objects/9a/a1ebc41d82e7c24cf18a8f2e0c144fa6db29b2
./.git/objects/54/89fa80f9987eb149eaa6266b65785d6d56ac3f
./.git/objects/98/6d8656c24a1a143280a02d48c270816ede12ca
./.git/objects/5b/2cacdfd9ac619d08009358c2034923d6b2d0f4
./.git/objects/08/d2aedfafbf3c2bb94d87611717dc050e134385
./.git/objects/6d/1a1ce2bdfefc90af265f38b3d208373fa2c9d7
./.git/objects/39/8222a202aeb91d793bf08e6e3b1c0688cc29f8
./.git/objects/39/d342aeb27a911f637a915f07b40927db7a9c1b
./.git/objects/39/0f9d145cc659f1d7bf25547e4646dd0c72c091
./.git/objects/52/47ff9eec5979b1c191e6537a69ca2e0f47c8e8
./.git/objects/64/11bf44f5dcb501faff1f230f812ffa39e1d48b
./.git/objects/bf/35231bcbe1be75162a0eca475079985cc24117
./.git/objects/d4/f0825c54f152daa132704aba865c79a4bdb6dc
./.git/objects/ba/332f61346421c2256a1590e7b6d533d30a4234
./.git/objects/a7/1a8ad1d0e5c8a7e9e8690af3fa5d625f356aaa
./.git/objects/dc/4657255a381a85663cb706b96d2e5e8bc7ba66
./.git/objects/d2/82131b1271789d9634a57db39f58d02820c6fc
./.git/objects/d2/86b5631b40c9f1618a6f1e353a0cf733423267
./.git/objects/b9/b8813c0df7bb87ff4d750a2fa41d796fa2c29b
./.git/objects/ef/3e6b1bf0c057a0bc476048d823399e720111ce
./.git/objects/cd/310205ba23dbcf7b9246c54c192ff57eb8986d
./.git/objects/f9/7ef48e9ff3f2cdfd8d74ec9ea71d292590f86b
./.git/objects/f0/b55bc4c2981a71fa73fc4e4ef1fec744c8f21d
./.git/objects/f0/56db362f30b193dbea79a864a4db5287e83906
./.git/objects/e8/f424cf133c82acf31946ce45300947c227e542
./.git/objects/ff/dd90f4b9904fa0145984eb564d3a3344627fea
./.git/objects/f1/ad799d0c00740d2bb4c30bd589da6f8649f758
./.git/objects/46/964eb774819f2b6ac4daa69de0add0fbc7951e
./.git/objects/2c/ff62775c6a71876ca1836ebf52cce577b7dfc2
./.git/objects/2c/14a795e0eb2cb9899a993a33a9969287e2d639
./.git/objects/79/087fe9ebad58931b11e5aa132f685d265e66fd
./.git/objects/70/66c39e0c5f24b588a2c556d7784bdd45d1f87a
./.git/objects/4a/2c00b82aecac65a52191a3e61a222521510363
./.git/objects/4f/a4ccafb2fa6f457eefc84406c4794be5338f7e
./.git/objects/78/f23bad764962bdd46b4ced57bc6cdbbc6e631d
./.git/objects/7a/89d57fc6fe8c037c5b689168eee3665a699685
./.git/lfs/objects/98/36/98361eeaf942a80fad2c77102ee593b26b52bcf07a2d0c685c874c5e4d87f4ed
./data/DejaVuSans.ttf
./data/imagenet_train_hr_indices.p
./assets/results.gif
./outputs/txt2img-samples/Logan's_response:_I_realize_that_I_have_been_the_madman_this_whole_time!_.png
./outputs/txt2img-samples/Logan's_response:_I_send_my_spirit_out_of_my_body_and_inhabit_the_creature._.png
./outputs/txt2img-samples/6)_You_continue_reading_the_book_of_Leviticus.png
./outputs/txt2img-samples/C)_You_fall_to_the_ground_and_play_dead,_hoping_that_the_creature_will_take_the_hint_and_leave_you_alone._For_a_moment,_it_looks_like_it's_working,_as_the_creature_stops_.png
./outputs/txt2img-samples/Logan's_response:_We_read_leviwe_read_leviticus_together._.png
./outputs/txt2img-samples/You_land_on_your_feet_and_start_to_run._You_see_the_man_in_the_black_robe_coming_after_you._You_run_as_fast_as_you_can,_but_you_trip_on_a_rock_and_fall._The_man_in_the_black_robe_catches_up_to_you_and_grabs_you._.png
./outputs/txt2img-samples/Logan's_response:_I_read_leviticus._.png
./outputs/txt2img-samples/image_logan_image_12.png
./outputs/txt2img-samples/Logan's_response:_I_finish_pumpkin_seed_snack_with_fervor._.png
./outputs/txt2img-samples/1)_You_try_to_break_the_window.png
./outputs/txt2img-samples/1)_You_continue_to_try_and_break_the_door_open.png
./outputs/txt2img-samples/Logan's_response:_The_earth_cracks_open_and_I_begin_falling_into_an_abyss_or_something._.png
./outputs/txt2img-samples/samples/00085.png
./outputs/txt2img-samples/samples/00046.png
./outputs/txt2img-samples/samples/00278.png
./outputs/txt2img-samples/samples/00047.png
./outputs/txt2img-samples/samples/00125.png
./outputs/txt2img-samples/samples/00051.png
./outputs/txt2img-samples/samples/00079.png
./outputs/txt2img-samples/samples/00078.png
./outputs/txt2img-samples/samples/00124.png
./outputs/txt2img-samples/samples/00068.png
./outputs/txt2img-samples/samples/00040.png
./outputs/txt2img-samples/samples/00054.png
./outputs/txt2img-samples/samples/00042.png
./outputs/txt2img-samples/samples/00081.png
./outputs/txt2img-samples/samples/00095.png
./outputs/txt2img-samples/samples/00151.png
./outputs/txt2img-samples/samples/00025.png
./outputs/txt2img-samples/samples/00019.png
./outputs/txt2img-samples/samples/00018.png
./outputs/txt2img-samples/samples/00185.png
./outputs/txt2img-samples/samples/00027.png
./outputs/txt2img-samples/samples/00194.png
./outputs/txt2img-samples/samples/00209.png
./outputs/txt2img-samples/samples/00020.png
./outputs/txt2img-samples/samples/00021.png
./outputs/txt2img-samples/samples/00155.png
./outputs/txt2img-samples/samples/00164.png
./outputs/txt2img-samples/samples/00170.png
./outputs/txt2img-samples/samples/00158.png
./outputs/txt2img-samples/samples/00206.png
./outputs/txt2img-samples/samples/00162.png
./outputs/txt2img-samples/samples/00163.png
./outputs/txt2img-samples/samples/00015.png
./outputs/txt2img-samples/samples/00216.png
./outputs/txt2img-samples/samples/00098.png
./outputs/txt2img-samples/samples/00067.png
./outputs/txt2img-samples/samples/00310.png
./outputs/txt2img-samples/samples/00115.png
./outputs/txt2img-samples/samples/00074.png
./outputs/txt2img-samples/samples/00116.png
./outputs/txt2img-samples/samples/00076.png
./outputs/txt2img-samples/samples/00062.png
./outputs/txt2img-samples/samples/00117.png
./outputs/txt2img-samples/image_logan_image_19.png
./outputs/txt2img-samples/image_logan_image_9.png
./outputs/txt2img-samples/The_madman_looks_startled_and_backs_away_from_you._The_SWAT_team_moves_in_and_apprehends_him._.png
./outputs/txt2img-samples/Logan's_response:_I_asK_them_how_are_we_going_to_the_madman's_house_when_we_are_already_here!_.png
./outputs/txt2img-samples/"{text}".png
./outputs/txt2img-samples/image_logan_image_113.png
./outputs/txt2img-samples/image_logan_image_81.png
./outputs/txt2img-samples/"A)_Run_away_from_the_creature".png
/storyboard/audio/
/storyboard/video/
/outputs/
/assets/
/configs/
/data/
/ldm/
/models/
/models/first_stage_models/
/models/ldm/
/outputs/
